# Configuración de Servidor de Correos (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=tu_usuario@gmail.com
SMTP_PASSWORD=tu_contraseña_o_token
SMTP_USE_TLS=True

# Destinatarios y Remitentes de Contactos
CONTACT_RECIPIENT_EMAIL=contacto@eitec.coop.ar
CONTACT_SENDER_EMAIL=noreply@eitec.coop.ar

# Google reCAPTCHA v2 Keys
RECAPTCHA_SITE_KEY=tu_recaptcha_site_key
RECAPTCHA_SECRET_KEY=tu_recaptcha_secret_key
