<section class="contact-section contacto" id="contacto">
    <div class="container">
        <h2>Contactanos</h2>

        <form action="/contacto" id="form_contactanos" name="form_contactanos" method="post" enctype="multipart/form-data" class="contact-form row g-3">
            <input type="hidden" id="accion" name="accion" value="contacto">

            <div class="contact-form__group form-group col-md-6 px-1" id="div_campo_nombre" name="div_campo_nombre">
                <label class="contact-form__label obligatorio" for="nombre">Nombre / Razón Social</label>
                <input autocomplete="off" placeholder="Nombre o razón social" minlength="5" type="text" class="contact-form__input form-control" name="nombre" id="nombre" value="" required="required">
            </div>

            <div class="contact-form__group form-group col-md-6 px-1" id="div_campo_email" name="div_campo_email">
                <label class="contact-form__label obligatorio" for="email">Email</label>
                <input autocomplete="off" pattern="(?!(^[.-].*|[^@]*[.-]@|.*\.{2,}.*)|^.{254}.)([a-zA-Z0-9!#$%&*+\/=?^_`{|}~.-]+@)(?!-.*|.*-\.)([a-zA-Z0-9-]{1,63}\.)+[a-zA-Z]{2,15}" placeholder="" type="email" class="contact-form__input form-control" name="email" id="email" value="" required="required">
            </div>

            <div class="contact-form__group form-group col-md-6 px-1" id="div_campo_telefono" name="div_campo_telefono">
                <label class="contact-form__label obligatorio" for="telefono">Teléfono</label>
                <input autocomplete="off" type="tel" minlength="8" class="contact-form__input form-control" name="telefono" id="telefono" value="" required="required">
            </div>

            <div class="contact-form__group form-group col-12 px-1" id="div_campo_mensaje" name="div_campo_mensaje">
                <label class="contact-form__label" for="contactoMensaje">¿Qué productos necesitás y en qué cantidades?</label>
                <textarea class="contact-form__input form-control" name="mensaje" placeholder="Contanos qué repuestos EITAR necesitás, cantidades y a qué rubro te dedicás." id="contactoMensaje" rows="4"></textarea>
            </div>

            <div class="form-floating col-12">
                <button type="submit" id="boton_enviar" class="contact-form__submit btn btn-primary btn-call btn-call--secondary col-12 col-md-3">Enviar</button>
            </div>
        </form>
    </div>
</section>
