<footer class="footer">
    <div class="container">
        <div class="footer__socials redes">
            <a href="mailto:{{ site_info.contact_email }}" class="email">{{ site_info.contact_email }}</a>
            <a href="{{ site_info.social_instagram }}" class="instagram" target="_blank"></a>
            <a href="{{ site_info.social_facebook }}" class="facebook" target="_blank"></a>
        </div>

        <span class="clearfix"></span>

        <div class="footer__links-column links">
            {% for cat in categories %}
            <p><a class="btn btn-call" href="/categoria/{{ cat.slug }}">{{ cat.name }}</a></p>
            {% endfor %}
        </div>

        <div class="footer__links-column links">
            <p><a href="/contactanos">Contacto</a></p>
        </div>

        <div class="clearfix"></div>
        <div class="clearfix"></div>

        <div class="footer__copyright footReg">
            <p>Copyright {{ site_info.title }} - {{ site_info.subtitle }} {{ current_year | default('2026') }}</p>
            <a href="https://contactopuro.com" class="realizado" target="_blank"></a>
        </div>
    </div>
</footer>
