{% extends "base.html" %}

{% block content %}
    {% include "partials/header.html" %}

    {% if message %}
    <div class="container mt-3">
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    </div>
    {% endif %}

    {% include "partials/carousel.html" %}
    {% include "partials/categories_grid.html" %}
    {% include "partials/contact_form.html" %}
    {% include "partials/footer.html" %}
    {% include "partials/search_overlay.html" %}
{% endblock %}
